nextflow.enable.dsl = 2

params {
  fastq_dir = null
  outdir = 'results'
  work_dir = null
  cleanup_work = false
  keep_important = false
  multiqc_config = null
  bed_file = null

  ref_file = null
  ref_dict = null
  annovar_dbs_dir = null
  pon_umi2 = null
  pon_umi4 = null
  germline_resource = null
  cnvkit_reference = null

  umi_thr = 2
  publish_mode = 'copy'
}

workDir = params.work_dir ?: "${params.outdir}/work"
cleanup = params.cleanup_work

includeConfig 'conf/containers.config'

trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_trace.txt"
  fields = 'task_id,name,status,exit,submit,start,complete,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,cpus,memory,queue,container,workdir'
}

report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_report.html"
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

dag {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

process {
  executor = 'local'
  errorStrategy = 'terminate'
  shell = ['/bin/bash', '-euo', 'pipefail']

  withLabel: small {
    cpus = 1
    memory = '1 GB'
  }

  withLabel: medium {
    cpus = 4
    memory = '16 GB'
  }

  withLabel: high_cpu {
    cpus = 16
    memory = '48 GB'
  }

  withLabel: high_mem {
    cpus = 12
    memory = '40 GB'
  }
}

env {
  APPTAINER_CACHEDIR = '/mnt/beegfs/tloupis/aptainer/apptainer_cache'
  SINGULARITY_CACHEDIR = '/mnt/beegfs/tloupis/aptainer/apptainer_cache'
}

profiles {
  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = '/mnt/beegfs/tloupis/aptainer/apptainer_cache'
    singularity.pullTimeout = '1 h'
  }

  apptainer {
    apptainer.enabled = true
    apptainer.autoMounts = true
    apptainer.cacheDir = '/mnt/beegfs/tloupis/aptainer/apptainer_cache'
    apptainer.pullTimeout = '1 h'
  }

  slurm {
    process.executor = 'slurm'
    process.queue = null
  }
}
