/*
 * Container placeholders.
 *
 * Replace these image names with your pinned Docker/Singularity/Apptainer images.
 * Keep versions immutable, for example:
 *   quay.io/biocontainers/fastp:0.23.4--h5f740d0_0
 *   docker://my-registry/hematology-gatk:4.6.0.0
 *   /path/to/local/image.sif
 */

params.containers = [
  fastp          : 'docker://staphb/fastp@sha256:d449d6de106f6b5ef32297ffe1e80c9ade059119da134bb8e1890efe59482c7c',
  fastqc         : 'docker://biocontainers/fastqc@sha256:82e5fa413d275a72c3de76e400a3d12a93ebdb4e1ef5391d7f7e9ce686671d8d',
  bwa            : 'docker://biocontainers/bwa@sha256:9479b73e108ded3c12cb88bb4e918a5bf720d7861d6d8cdbb46d78a972b6ff1b',
  samtools       : 'docker://teoloup/hematology-samtools@sha256:f2b709fdca0981d1517eceb1bbaa5a52bb296fd92fb14700268cdb3046b74011',
  mosdepth       : 'docker://zlskidmore/mosdepth@sha256:9108f808caf157bbd13dc8c1c33a80f456e74c1ef187f3674aa153eeeda034b8',
  gencore        : 'docker://olikodeproktaz/gencore@sha256:2a0adbae33e65727965a005ac238e10261bf5ae9e4d03950115d599461b269db',
  gatk           : 'docker://broadinstitute/gatk@sha256:c88912855b845bd40c6b4bc8f3dd1d4b333ed2549cd3e8386987ee7c0c284f5a',
  bcftools       : 'docker://biocontainers/bcftools@sha256:5b718e547dc232da514bd9d7cbce4f3a89edfbd6ac7cb583f0f21bff45445cc4',
  vardict        : 'docker://teoloup/hematology-vardictjava@sha256:eb068649dda065f6cc38292b116796acb7d454ad190eaf1d45350856a00edcc2',
  python_custom  : 'docker://teoloup/hematology-python-custom@sha256:410e36b6585c6a5f95eba33705b67b631da66c59784bf713a16e4f8be77b2ddb',
  annovar        : 'docker://kfdrc/annovar@sha256:5d848a22a68d8870dada70ec648a5b56b4f1feab580baf371b83a48e52e2f54d',
  htslib         : 'docker://kfdrc/annovar@sha256:5d848a22a68d8870dada70ec648a5b56b4f1feab580baf371b83a48e52e2f54d',
  cnvkit         : 'docker://teoloup/hematology-cnvkit@sha256:d1d39a0b7c58c834bfbb74b16ae43c5e315201503d6ce1ec747b8f1a6c56bd9a',
  multiqc        : 'docker://multiqc/multiqc:pdf-dev'
]

process {
  withLabel: fastp         { container = params.containers.fastp }
  withLabel: fastqc        { container = params.containers.fastqc }
  withLabel: bwa           { container = params.containers.bwa }
  withLabel: samtools      { container = params.containers.samtools }
  withLabel: mosdepth      { container = params.containers.mosdepth }
  withLabel: gencore       { container = params.containers.gencore }
  withLabel: gatk          { container = params.containers.gatk }
  withLabel: bcftools      { container = params.containers.bcftools }
  withLabel: vardict       { container = params.containers.vardict }
  withLabel: python_custom { container = params.containers.python_custom }
  withLabel: annovar       { container = params.containers.annovar }
  withLabel: htslib        { container = params.containers.htslib }
  withLabel: cnvkit        { container = params.containers.cnvkit }
  withLabel: multiqc       { container = params.containers.multiqc }
}
